{% if short_links %}
<table class="theme-table">
  <thead>
    <tr>
      <th scope="col">{{ _('admin.tables.headers.shortLink') }}</th>
      <th scope="col" class="theme-table__col-target">
        {{ _('admin.tables.headers.targetUrl') }}
      </th>
      <th scope="col">{{ _('admin.tables.headers.visits') }}</th>
      <th scope="col">{{ _('admin.tables.headers.createdAt') }}</th>
      {% if show_user_column %}
      <th scope="col">{{ _('admin.tables.headers.user') }}</th>
      {% endif %}
      <th scope="col" class="theme-table__col-actions">
        <span class="theme-table__col-actions-label">
          <span class="theme-table__col-actions-text"
            >{{ _('admin.tables.headers.actions') }}</span
          >
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for item in short_links %}
    {% include "admin/partials/link_row.html" %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="theme-table__empty">
  {{ _('admin.tables.empty.links')|safe }}
</div>
{% endif %}
