{% if users %}
<table class="theme-table">
  <thead>
    <tr>
      <th scope="col">{{ _('admin.tables.headers.user') }}</th>
      <th scope="col">{{ _('admin.tables.headers.email') }}</th>
      <th scope="col">{{ _('admin.tables.headers.role') }}</th>
      <th scope="col">{{ _('admin.tables.headers.createdAt') }}</th>
      <th scope="col" class="theme-table__col-actions">
        <span class="theme-table__col-actions-label">
          <span class="theme-table__col-actions-text"
            >{{ _('admin.tables.headers.actions') }}</span
          >
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for item in users %}
    {% include "admin/partials/user_row.html" %}
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="theme-table__empty">{{ _('admin.tables.empty.users') }}</div>
{% endif %}
